{{title "Notices"}}
{{#hashicorp-consul id="wrapper" permissions=permissions dcs=dcs dc=dc nspaces=nspaces nspace=nspace}}
  {{#app-view class="notices show"}}
    {{#block-slot name='header'}}
      <h1>
        Notices
      </h1>
    {{/block-slot}}
    {{#block-slot name='content'}}
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Version</th>
            <th>License</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Biscuit chocolate bar</td>
            <td>1.0.2</td>
            <td>Candy cotton candy chupa chups candy canes sugar plum jelly-o soufflé lollipop croissant. Carrot cake sweet roll gingerbread. Cheesecake chocolate cake macaroon marzipan jelly-o jujubes bear claw marzipan cheesecake. Candy canes sweet roll sweet. Ice cream caramels halvah sesame snaps jelly-o. Chocolate cake cupcake pastry ice cream tiramisu muffin powder tiramisu dessert. Gummies jelly chupa chups soufflé candy canes cake dessert croissant sugar plum. Chocolate bar bear claw chocolate cake pastry. Oat cake gummi bears gummi bears jelly beans fruitcake dessert sesame snaps carrot cake sugar plum. Gingerbread fruitcake powder liquorice pie muffin. Icing apple pie lemon drops lollipop sugar plum apple pie. Carrot cake brownie topping soufflé macaroon chupa chups gingerbread bear claw. Lemon drops muffin icing cupcake liquorice dragée carrot cake jelly gummi bears.

Powder jelly-o topping croissant apple pie bonbon sugar plum lollipop caramels. Apple pie jujubes cheesecake tiramisu icing toffee toffee sesame snaps bonbon. Cookie caramels wafer. Cupcake chocolate wafer. Halvah topping tootsie roll croissant lollipop jelly beans pie. Icing jelly-o bear claw. Tiramisu cheesecake gingerbread. Oat cake topping biscuit. Chocolate donut sesame snaps liquorice donut. Liquorice chocolate bar gummies bonbon tootsie roll sweet gummies pudding candy canes. Pie donut jelly wafer. Lollipop cake macaroon powder tiramisu jujubes gummies. Caramels jelly beans cheesecake oat cake cookie toffee.

Cookie sugar plum marshmallow cupcake brownie. Jelly jelly beans topping liquorice jelly cheesecake fruitcake. Macaroon wafer jujubes cheesecake sesame snaps cake ice cream. Candy sugar plum tootsie roll macaroon fruitcake dragée ice cream muffin candy canes. Chocolate caramels sesame snaps chocolate bar pudding. Lemon drops pudding macaroon pie. Powder danish cupcake jelly macaroon soufflé candy canes icing cupcake. Gummies tootsie roll soufflé pudding cookie liquorice jelly-o marzipan. Chupa chups tootsie roll danish. Gingerbread bonbon soufflé sugar plum candy canes danish danish topping marzipan. Carrot cake jelly-o gummies jelly beans gummies croissant. Cotton candy gummi bears fruitcake liquorice chocolate chocolate cake sweet cake sesame snaps.</td>
          </tr>
          <tr>
            <td>Tart sesame snaps</td>
            <td>1.0.1</td>
            <td>Gummi bears cookie biscuit soufflé pie. Sweet pastry liquorice icing. Danish gummi bears tootsie roll lollipop marzipan chocolate cupcake powder pie. Jelly-o carrot cake cookie tiramisu pudding carrot cake.</td>
          </tr>
        </tbody>
      </table>
    {{/block-slot}}
  {{/app-view}}
{{/hashicorp-consul}}
