@import './filter-bar/index';
@import './expanded-single-select/index';
@import './icons/index';
.filter-bar {
  @extend %filter-bar;
}
%filter-bar [role='radiogroup'] {
  @extend %expanded-single-select;
}

%filter-bar .value-passing span {
  @extend %with-passing;
}
%filter-bar .value-warning span {
  @extend %with-warning;
}
%filter-bar .value-warning span::before {
  @extend %with-warning-icon-grey;
}
%filter-bar .value-allow span {
  @extend %with-allow;
}
%filter-bar .value-deny span {
  @extend %with-deny;
}
%filter-bar .value-deny span::before {
  @extend %with-deny-icon-grey;
}
%filter-bar .value-allow span::before {
  @extend %with-right-arrow-grey;
}
%filter-bar .value-critical span {
  @extend %with-critical;
}

%filter-bar#{$--horizontal-filters} {
  @extend %filter-bar-horizontal;
}
%filter-bar#{$--lt-horizontal-filters} {
  @extend %filter-bar-vertical;
}
%filter-bar#{$--horizontal-selects} [role='radiogroup'] {
  @extend %expanded-single-select-horizontal;
}
%filter-bar#{$--horizontal-selects} label:not(:last-child) {
  border-right: $decor-border-100;
}
%filter-bar#{$--lt-horizontal-selects} label:not(:last-child) {
  border-bottom: $decor-border-100;
}
%two-pane-pane#{$--horizontal-selects} [for='toolbar-toggle'] {
  display: none;
}
%two-pane-pane#{$--lt-horizontal-selects} header h1 {
  display: inline-block;
}
%two-pane-pane#{$--lt-horizontal-selects} #toolbar-toggle + * {
  display: none;
}
%two-pane-pane#{$--lt-horizontal-selects} #toolbar-toggle:checked + * {
  display: block;
}
