@import '../../../components/pill/index';
.template-service.template-show main dl {
  display: flex;
  margin-bottom: 1.4em;
}
.template-service.template-show main dt {
  display: none;
}
// TODO: Generalize this, also see nodes/index
.template-service.template-list td.tags span,
.template-service.template-show main dd span {
  @extend %pill;
}
.template-node.template-show #services th:first-child,
.template-service.template-list main th:first-child {
  text-indent: 28px;
}
