%search-bar .phrase-editor,
%search-bar-advanced-input {
  border: 1px solid $gray-300;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
%search-bar-selected-option {
  border-right: 0;
}
%search-bar-selected-icon {
  @extend %with-chevron-down-icon;
  border: 0;
  width: 1.2em;
  height: 1.2em;
}
%search-bar-select-option {
  background-color: $gray-050;
  color: $gray-800;
  border-right: 0;
}
%search-bar.error input.search-bar-advanced,
%search-bar.error .phrase-editor {
  border-color: $red-500;
}
%search-bar.error input.search-bar-advanced:focus {
  outline: none !important;
  box-shadow: 0 0 5px $red-500;
}
